{{!< layout}}
<div class="aui-page-panel main-panel">
</br>
<form action="upload-file" method="post" enctype="multipart/form-data">
   <label class="ffi" data-ffi-button-text="Browse">
    <input aria-label="Fancy File Input" type="file" name="fileToUpload" id="fileToUpload">
   </label>
   </br>
   <input class="aui-button aui-button-split-main" type="submit" value="Upload Image" name="submit">
</form>
<script>
$(function(){
    $('input[type=file]').fancyFileInput();
});
</script>
</br>
</div>
